---
---

<div class="jumbotron mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="assets/media/dp_headshot.jpg" style="max-height:30rem" id="left" alt="" class="img-thumbnail img-fluid">
            </div>
            <div class="col-md-6">
                <div id="right" style="display:block">
                    <h1 class="text-center mb-2">Hi, I am Denis Peskov</h1>
                    <p>
                        I am a PhD student studying computational linguistics (or NLP) at the University of
                        Maryland with Professor Jordan Boyd-Graber. My research interest is leveraging domain experts to
                        create meaningful and accurate datasets. I apply this to the domains of question answering,
                        machine
                        translation, and computational social science.
                    </p>

                    <h2>
                        Education
                    </h2>
                    <p>
                        {% for item in site.data.edu %}
                        <div class="">{{item.name}}</div><br class="">
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-md-2">
            <div class="col-md-6">
                <h4 class="mt-md-5">Industry Experience</h4>
                <p>
                    {% for item in site.data.ind_exp %}
                    <div>{{item.name}}</div>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-6">
                <h4 class="mt-md-5">Languages</h4>
                <p>
                    {% for item in site.data.lang %}
                    <div>{{item.name}}: {{item.values}}</div>
                    {% endfor %}

                    (decreasing order of fluency)
                </p>
            </div>
        </div>
    </div>
    <br>
</div>

<script>
    // $(document).ready(function () {
    //     $("#right").toggle("slide");
    //     $("#left").toggle("slide");
    // });
</script>

